<% if (title) { %>
    <h1><%= title %></h1>
    <% if (accountType == 'Client') { %>
        <h2> Welcome <%- accountName %></h2>
        <a href=<%- updateAccount %>>Update Your Account Information Here</a>
    <% } else if(accountType == 'Employee' || accountType == 'Admin') { %>
        <h2> Welcome <%- accountName %></h2>
        <p><a href=<%- updateAccount %>>Update Your Account Here</a></p>
        <p><a href="/inv/">Management Inventory</a></p>
    <% } %>
    <% } else {
            res.redirect('/')
    } %>

<%- messages() %>