<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
    <% }) %>
        </ul>
    <% } %>

        <div id="loginContainer">
        <form id="updateForm" action="account/update" method="post">
            <fieldset>
                <label for="firstname">User First Name: </label>
                <input type="text" name="account_firstname" id="firstname" 
                    required pattern="^[^\s\W]+$>" value="<%= locals.account_firstname %>">

                <label for="lastname">User Last Name: </label>
                <input type="text" name="account_lastname" id="lastname" 
                    required pattern="^[^\s\W]+$>" value="<%= locals.account_lastname %>">
                
                <label for="email">Email Address: </label>
                <input type="email" name="account_email" id="email" 
                    required value="<%= locals.account_email %>">
                    
                <div id="registerBtn">
                    <button type="submit" class="btn" value="update-account">Update Password</button>
                </div>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="account_password" id="password" 
                    required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                
                <span>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character</span>

                <div id="registerBtn">
                    <button type="submit" class="btn" value="update-password">Update Password</button>
                </div>
            </fieldset>
        </form>
    </div>